body{
  font-family: 'Merriweather', serif;
  color:#4e4d4a;
  border:0;
  margin:0;
  padding:0;
  font-size: 16px;
}

h1, h2, h3, h4{
  font-family: 'Lato', sans-serif;
}

p{
  font-weight: lighter;
}

.navbar{
  box-sizing: border-box;
  width:100%;
  height:3em;
  padding:1em;
  background-color: #fff;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}
.navbar ul{
  margin:0;
  padding:0;
  list-style-type: none;
  display: inline;
}
.navbar li{
  display:inline;
  margin: 0 1em;
}
.navbar .logo{
  font-weight:bold;
}
.navbar a, .navbar a:visited{
  color:#4e4d4a;
  text-decoration: none;
}
.navbar a:hover{
  color:#000;
  text-decoration: underline;
}
.navbar a.current{
  text-decoration: underline;
}

.banner {
    background: transparent url('play.jpg') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../play.jpg', sizingMethod='scale');
    height: 300px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}
.banner-head a{
  font-size:1rem;
}
.content{
  clear:both;
  margin:0 auto;
  max-width:500px;
  padding:0 0;
}
table{
  border-collapse: collapse;
  font-size: 0.8em;
  width:100%;
}
th{
  font-weight:bold;
  border:solid 0px #ddd;
  border-bottom:solid 2px #ddd;
}
tbody{
  font-weight:lighter;
}
td{
  padding:1em;
}


.bigButton {
  display:block;
  max-width:200px;
  margin:3em auto 0 auto;
  padding:1em;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.bigButton {
    background: rgb(66, 184, 221);
}
.bigButton:hover {
    background: #1b7996;
}
.footer{
  box-sizing: border-box;
  width:100%;
  background-color: #ddd;
  margin-top: 3em;
  padding: 2em;
  color: #8e8c8c;
  font-family: 'Lato', sans-serif;
}
.footer a, .footer a:visited{
  color:#000;
  text-decoration: none;
}

/*==========  Non-Mobile First Method  ==========*/

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      body{
        font-size: 12px;
      }

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 500px) {
      .content{
        padding:0 1.5em;
      }
      .navbar{
        display:none;
        height:0px;
      }
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
